<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load staticfiles %}

<link rel ="stylesheet" href={% static "/compstyle.css" %}/>
<link rel="icon" href="icon.png"/>
<link href="https://fonts.googleapis.com/css?family=Poppins:800" rel="stylesheet"> 
</head>
<div id="start">

<div id="big-head">
<h3>Dried Cups and High <span>Hopes</span></h3>

{% for rhyme in rhymes %}
        {% autoescape off %}

   <h3> {{rhyme}}</h3>
           {% endautoescape %}

{% endfor %}
    
</div>
<Div id="lol">
<Form method="POST" action = "/RhymeAct">
{% csrf_token %}

{{form}}
<input type="submit"  value="&#10004;">
</Form>
</div>

</div>
</body>

</html>